.login-items-container {
    background-color: var(--mediumgreen);
    border-radius: 15px;
    padding: 25px;
}

.btn-login-provider {
    width: 250px;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--white);
    border: 0px;
}

.icon {
    float: left;
    margin-left: 25px;
}