<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="d-flex flex-column login login-items-container">
        <h3 class="text-center">Music Events</h3>
        <hr>
        <div class="p-2">
            <button type="button" class="btn-login-provider" (click)="authService.googleAuth()">
                <i class="bi bi-google icon"></i>
                Login with Google
            </button>
        </div>
        <hr>
        <p class="text-center">Create your own musical events <br> and sign up for those of other users!</p>
    </div>
</div>
