h3 {
    margin-top: 1rem;
    color: var(--white);
}

hr {
    border: 1px solid var(--white);
}

label {
    color: var(--white);
}

.btn-primary {
    background-color: var(--mediumgreen) !important;
    color: var(--black) !important;
    border: 0;
}